body {
    background: url(images/bg.jpg);
    width:950px;
    margin: 0px auto;
}

div#contact {
    width: 444px;
    margin: 0 auto;
    float: left;
    padding: 10px;
    
}

div#subscription{
    
    width: 444px;
    margin: 0 auto;
    padding: 10px;
}

div#top {
    background: url(images/top.jpg);
    height: 64px;
}

div#top h1 {
    font-family: Verdana, Arial;
    font-size: 18px;
    font-weight: normal;
    padding: 20px 0 0 20px;
    color: #fff;
    margin-left: -15px;
}

div#center {
    background: url(images/center.jpg);
    padding: 5px 15px 5px 25px;
}

div#bot {
    background: url(images/bot.jpg);
    height: 13px;
}

* body h2 {
    border-bottom: 1px solid #0066CC;
    color:#0066CC;
}

#contact_form {
    font-family: Calibri, Arial, "Times New Roman";
    
   
}
/** FORM STYLES GENERAL **/
#title{
    text-align: center;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    
}


#info {
    font-family: Calibri, Arial;
}

#infoheader{
    font-family: Calibri, Arial;
    text-align: center; 
    
}

#contact_form input, select{
    font-size: 11px;
    color:#999999;
    width: 250px;
    height: 28px;
    border: #CCC solid 1px;
/** BORDER RADIUS HACKS **/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#contact_form  textarea {
    font-size: 11px;
    color:#999999;
    width: 380px;
    height: 28px;
    border: #CCC solid 1px;
/** BORDER RADIUS HACKS **/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#contact_form input:hover, select:hover, textarea:hover {
    border: 1px solid #999;
}

#contact_form input:focus, select:focus, textarea:focus {
    border: 1px solid #999;
}

/** FORM STYLE: select **/
#contact_form select {
    padding: 5px 5px 3px 5px;
}
#contact_form select option {
    cursor: pointer;
    padding: 5px;
}
/** FORM STYLE: textarea **/
#contact_form textarea {
    height: 80px;
    padding: 4px 2px 2px 4px;
    font-family: Verdana, Arial, "Times New Roman";
}
/** FORM STYLE: input **/
#contact_form input {
    padding: 0 0px 0px 0px;
    background-position: 7px 5px;
    background-repeat: no-repeat;
}

input#send {
    padding:0;
    cursor:pointer;
    width:135px;
    height: 30px;
    background: url(../img/contact/send_button.png);
    
}

input#send:hover {
    border: 1px solid #999;
    color: #666;
}

#contact_form label {
    display:inline-block;
    width: 150px;
    vertical-align:top;
    margin-top: 6px;
}
/** CONTAINER OF INPUTS **/
#contact_form span {
    border:0;
    padding:0;
    margin:0;
    display: block;
    margin-bottom: 10px;
}

#name {
    background-image: url(../img/contact/user_suit.png);
}

#email {
    background-image: url(../img/contact/email.png);
}

#phone {
    background-image: url(../img/contact/phone.png);
}

#ajax_loader {
    display:none;
}

.success {
    border: 1px solid #00CC00 ;
    color:#4F8A10;
    background: #F2FFF2;
    display:none;
    margin-top: 3px;
    font-size: 11px;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
/** BORDER RADIUS HACKS **/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.error {
    display:none;
    margin-top: 3px;
    font-size: 11px;
    border: 1px solid #FF4F4F;
    color:#D6000E;
    background: #FFF2F2;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
/** BORDER RADIUS HACKS **/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.warning {
    display:none;
    margin-top: 3px;
    font-size: 11px;
    color: #9F6000;
    background: #FFF9D5;
    border: 1px solid #FFD324;
    padding: 5px;
    text-align: center;
/** BORDER RADIUS HACKS **/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#contact_form .noicon {
    padding: 0px 7px 0 7px;
    text-align:center;
}
